<div id='main_full_width'>
	<div id='how_to_monitor_bp'>
	<h1>How to monitor your blood pressure at home</h1>
	
	<p>Monitoring your blood pressure at home is useful as it shows what your blood pressure is like in the real world. Readings taken at the doctor's can be unusually high, sometimes resulting in unnecessary medication. To take accurate readings at home it is essential to use the right monitor and the right technique. We will help you achieve this.</p>
	
	<h3>Choosing a blood pressure monitor</h3>
		<p>It is important to ensure that your blood pressure monitor is accurate and the right monitor for you.
		<%= link_to(static_pages_choosing_a_monitor_path) do %>
			Learn more
			<%= image_tag("forwardarrowblue.gif", size: '8x8') %>
		<% end %>
		</p>
	
	<h3>How to measure your blood pressure</h3>
		<p>A few simple steps will ensure that you get an accurate reading.
		<%= link_to(static_pages_how_to_measure_bp_path) do %>
			Learn more
			<%= image_tag("forwardarrowblue.gif", size: '8x8') %>
		<% end %>
		</p>

	<h3>When to measure your blood pressure</h3>
		<p>Several measurements are needed to provide a reliable reading.
		<%= link_to(static_pages_when_to_measure_bp_path) do %>
			Learn more
			<%= image_tag("forwardarrowblue.gif", size: '8x8') %>
		<% end %>
		</p>
	
	</div>
</div>