<div id='main_full_width'>
	<h1>Contact us</h1>
	
	<p>Please use the form below to contact us with any queries. However, do note that although we frequently check for messages, this service is not able to provide any emergency medical advice. If you are feeling seriously unwell then please seek medical attention with your local doctor and do not await a response from us.</p>
	
	<div id='contact_us'>
	
	<div id='title'>
		Contact us
	</div>
	
	<div id='contact_form'>
	<%= form_for @message do |f| %>
	<table>
		<tr>
			<td><%= f.label :name %></td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :email %></td>
			<td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td><%= f.label :content, "Message" %></td>
			<td><%= f.text_area :content, :rows => 5 %></td>
		</tr>
	</table>
  
	  <% if @message.errors.any? %>
  			<div id='error_wrapper'>
	    	<div id="error_explanation">
				<%= error_messages_for "message" %>
			</div>
			</div>
  	<% end %>
  
  	<div id="submit">
		<%= f.submit "Send Message", :class => 'button4' %>
	</div>
	</div>
<% end %>
</div>
</div>


