<div id='graphic_sign_up'>
				<div id='sign_up'>
					<div id='title'>
						No more waiting at the doctor's
					</div>

<div id='nav_form'>
	
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :onsubmit => "return checktc();"}) do |f| %>
	<table>
		<tr>
			<td class='label'><%= f.label :email %></td>
			<td><%= f.email_field :email, :autofocus => true %></td>
		</tr>
		<tr>
			<td class='label'><%= f.label :password %></td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td class='label'><%= f.label :password_confirmation, 'Confirm password' %></td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
	</table>
	<table>
		<tr id='tac_msg'>
			<td><%= check_box_tag 'tac' %></td>
			<td>Please tick this box to confirm you accept our <%= link_to('terms and conditions', static_pages_tac_path) %></td>
		</tr>
	</table>
	<% if resource.errors.any? %>
		<div id="error_explanation">
			<%= error_messages_for resource %>
		</div>
	<% end %>
	<div id='tac_error_msg'>
	</div>
  	<div id='sign_up_button'>
  		<button type='submit' class='button3 button8' >
  			<span>Get instant advice about your blood pressure</span>
  		</button>
  	</div>
	<% end %>
</div>
</div>
</div>
