<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Blood Pressure Treatment</h1>
			<p id='landing_page_subtitle'>Get FREE advice on treating your blood pressure from experienced UK GPs</p>
		</div>
	</div>
	
	<div id='strip2'>
		<div id='strip2_content'>
			
			<div id='graphic_landing_page'>
				<div id='sign_up'>
					<div id='title'>
						No more waiting at the doctor's
					</div>
					<div id='nav_form'>

						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :onsubmit => "return checktc();"}) do |f| %>
						<table>
							<tr>
								<td class='label'><%= f.label :email %></td>
								<td><%= f.email_field :email, :autofocus => true %></td>
							</tr>
							<tr>
								<td class='label'><%= f.label :password %></td>
								<td><%= f.password_field :password %></td>
							</tr>
							<tr>
								<td class='label'><%= f.label :password_confirmation, 'Confirm password' %></td>
								<td><%= f.password_field :password_confirmation %></td>
							</tr>
						</table>
						<table>
							<tr id='tac_msg'>
								<td><%= check_box_tag 'tac' %></td>
								<td>Please tick this box to confirm you accept our <%= link_to('terms and conditions', static_pages_tac_path) %></td>
							</tr>
						</table>
						<% if resource.errors.any? %>
						<div id="error_explanation">
							<%= error_messages_for resource %>
						</div>
						<% end %>
						<div id='tac_error_msg'>
						</div>
  						<div id='sign_up_button'>
  							<button type='submit' class='button3 button8' onClick="ga('send', 'event', 'Button', 'Sign-up');">
  								<span>Get FREE instant advice about your blood pressure</span>
  							</button>
  						</div>
						<% end %>
					</div>
				</div>
			</div>
			
			<div id='text_find_out_more_page'>
				<table>
					<tr>
						<td class='number'>1.</td>
						<td>Measure your blood pressure</td>
					</tr>
					<tr>
						<td class='number'>2.</td>
						<td>Get FREE personalised advice from UK GPs</td>
					</tr>
					<tr>
						<td class='number'>3.</td>
						<td>Have prescriptions delivered to your door</td>
					</tr>
					<tr id='arrow'>
						<td colspan="2"><%= image_tag('arrow-right-blue.gif') %></td>
					</tr>
				</table>
			</div>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<div id='box1'>
		<div class='box_content'>
			<div class='title'>
				<h2>Get the best blood pressure treatment from UK doctors...</h2>
			</div>
			<%= image_tag("Fotolia_healthtech_not_copyright_cleared_small.jpg") %>
			<p>Take some blood pressure readings. Answer a few simple questions about your medical history. Then you’ll get clear advice about what to do next.</p>
			<p>It really is that simple.</p>
			<p>You’ll be able to make your own decisions about your own treatment in your own time.</p>
		</div>
	</div>
	
	<div id='box2'>
		<div class='box_content'>
			<div class='title'>
				<h2>Do it all from your home...</h2>
			</div>
			<%= image_tag("house_not_copyright_cleared_small.jpeg") %>
			<p>...or anywhere else that is convenient.</p>
			<p>Did you know that up to 30% of people get incorrectly high readings when their blood pressure is measured at their doctors?</p> 
			<p>That’s why the latest expert advice recommends that you measure your blood pressure at home.</p>
			<p>Then you’ll get all the advice you need from us.</p>
		</div>
	</div>
	
	<div id='box3'>
		<div class='box_content'>
			<div class='title'>
				<h2>Save time…</h2>
			</div>
			<%= image_tag("clock_not_copyright_cleared_small.jpg") %>
			<p>Spend less time on the telephone trying to get an appointment.</p>
			<p>Spend less time in doctors' waiting rooms.</p>
			<p>Take less time off work.</p>
			<p>Take control of your blood pressure today.</p>
		</div>
	</div>
	
	<div id='box4'>
		<div class='box_content'>
			<div class='title'>
				<h2>Any questions? Ask a doctor!</h2>
			</div>
			<%= image_tag("doc_with_laptop_small.jpg") %>
			<p>Recent expert advice has changed the treatment of blood pressure. It has become much more simple. That’s why you can take control of it using our online service.</p>
			<p>We are two experienced UK GPs and you’ll find loads of clearly written advice on our website.</p>
			<p>But don’t worry, if you have any other questions, we look forward to hearing from you. You’ll be able to contact us at the click of a button!</p>
		</div>
		<div class='clear_float'></div>
	</div>
	
	<div class='clear_float'></div>
	
	<div id='bottom_strip'>
		<div id='bottom_strip_content'>
			<div id='sign_up_button'>
  				<button id='anchor' class='button3 button8' >
  					<span>Get FREE instant advice about your blood pressure</span>
  				</button>
  			</div>
		</div>
	</div>

</div>
