<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Your choice of blood pressure treatment</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>Complementary therapy for high blood pressure</h2>
		</div>
		
		<div id='links'>
			<%= link_to(info_supplements_path, :class => 'info_link1') do %>
				<%= image_tag("multiple_pills_small_2.jpg") %>
				<span class='link_title'>Supplements</span>
				<span class='link_text'>Some supplements claim to be able to help lower your blood pressure... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_acupuncture_path, :class => 'info_link2') do %>
				<%= image_tag("acupuncture_small.jpg") %>
				<span class='link_title'>Acupuncture</span>
				<span class='link_text'>Acupuncture has been used to try to lower blood pressure... <span class='more'>find out more.</span></span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>
