<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h2>The best blood pressure treatment</h2>
			<h3>FREE advice from UK GPs.</h3>
			<h4>Online. Anytime.</h4>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h3>Information and advice</h3>
			<p>By using this site you’ll be getting clear information about your blood pressure. You’ll get up to date personalised advice from UK GPs. You’ll be able to use this information whenever you want, without the hassle of having to get an appointment at your doctors.</p>
		</div>
		
		<div id='links'>
			<%= link_to(info_what_is_blood_pressure_path, :class => 'info_link') do %>
				<span id='link_title_1'><span id='link_title_content_1'>What is blood pressure?</span></span>
				<%= image_tag("heart_bp_monitor_small.jpg") %>
				<span class='link_text'>What am I measuring? What do the numbers mean? What is the normal range for me? Find out more here…</span>
			<% end %>
			<%= link_to(info_measuring_blood_pressure_path, :class => 'info_link') do %>
				<span id='link_title_2'><span id='link_title_content_2'>Measuring blood pressure</span></span>
				<%= image_tag("woman_taking_bp_small.jpg") %>
				<span class='link_text'>How do I measure my blood pressure? When should I measure it? How do I choose a blood pressure machine? Find out more here…</span>
			<% end %>
			<%= link_to(info_treating_blood_pressure_path, :class => 'info_link') do %>
				<span id='link_title_3'><span id='link_title_content_3'>Treating blood pressure</span></span>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_text'>How should I change my diet? Which supplements help? What is the best medication for me? Find out more here...</span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>
