<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Your choice of blood pressure treatment</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>Lifestyle options for treating blood pressure</h2>
			<p>You can usually make some small changes to your lifestyle that will improve your blood pressure. The good news is that these changes tend to improve your health in general so you’ve nothing to lose!</p>
		</div>
		
		<div id='links'>
			<%= link_to(info_diet_path, :class => 'info_link1') do %>
				<%= image_tag("woman_apple_small_3.jpg") %>
				<span class='link_title'>Food and drink</span>
				<span class='link_text'>Your diet can help lower your blood pressure... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_exercise_path, :class => 'info_link2') do %>
				<%= image_tag("man_running_small_3.jpg") %>
				<span class='link_title'>Exercise</span>
				<span class='link_text'>If you exercise regularly you will get numerous health benefits... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_smoking_path, :class => 'info_link1') do %>
				<%= image_tag("ashtray_small.jpg") %>
				<span class='link_title'>Smoking</span>
				<span class='link_text'>Smoking affects your health in many ways... <span class='more'>find out more.</span></span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>