<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Your lifestyle can improve your blood pressure</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>Lifestyle options for treating blood pressure</h2>
			<p>Text that skims the surface of some lifestyle stuff. Or maybe no text here? Or something to promote the site further?</p>
		</div>
		
		<div id='links'>
			<%= link_to(info_diet_path, :class => 'info_link') do %>
				<span id='link_title_1'><span id='link_title_content_1'>Food and drink</span></span>
				<%= image_tag("woman_apple_small_2.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about how food and drink can influence their blood pressure.</span>
			<% end %>
			<%= link_to(info_exercise_path, :class => 'info_link') do %>
				<span id='link_title_2'><span id='link_title_content_2'>Exercise</span></span>
				<%= image_tag("relaxation_small.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about how exercise may improve their blood pressure.</span>
			<% end %>
			<%= link_to(info_smoking_path, :class => 'info_link') do %>
				<span id='link_title_3'><span id='link_title_content_3'>Smoking</span></span>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about how smoking affects their blood pressure.</span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>