<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Your choice of blood pressure treatment</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>Medication</h2>
			<p>General text about medications, e.g. that there are many sorts, that most are well tolerated, that we can help people understand them etc.</p>	
		</div>
		
		<div id='links'>
			<%= link_to(info_what_are_the_best_medication_options_for_me_path, :class => 'info_link') do %>
				<span id='link_title_1'><span id='link_title_content_1'>What are the best medication options for me?</span></span>
				<%= image_tag("woman_apple_small_2.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about different medications.</span>
			<% end %>
			<%= link_to(info_how_can_i_reduce_the_risk_of_side_effects_path, :class => 'info_link') do %>
				<span id='link_title_2'><span id='link_title_content_2'>How can I reduce the risk of side effects?</span></span>
				<%= image_tag("relaxation_small.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about side effects.</span>
			<% end %>
			<%= link_to(info_why_do_i_need_to_take_more_than_one_medication_path, :class => 'info_link') do %>
				<span id='link_title_3'><span id='link_title_content_3'>Why do I need to take more than one medication?</span></span>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_text'>Text containing the sorts of questions people may have about multiple medications such as why the doses are different etc.</span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>
