<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Your choice of blood pressure treatment</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>Treating blood pressure</h2>
			<h3>How can HomeBloodPressure.co.uk help me treat my blood pressure?</h3>
			<p>This site will tell you what the options are for treating your blood pressure. You’ll be able to see the benefits and disadvantages of any treatments that you may choose. By choosing to use our prescription delivery service you will get your prescriptions delivered to your door. You will be able to arrange to monitor your own blood pressure at a time that is convenient for you. You’ll be the one in charge of your treatment.</p>
		</div>
		
		<div id='links'>
			<%= link_to(info_how_do_i_measure_my_blood_pressure_path, :class => 'info_link') do %>
				<span id='link_title_1'><span id='link_title_content_1'>Lifestyle options</span></span>
				<%= image_tag("woman_apple_small_2.jpg") %>
				<span class='link_text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</span>
			<% end %>
			<%= link_to(info_when_should_i_measure_my_blood_pressure_path, :class => 'info_link') do %>
				<span id='link_title_2'><span id='link_title_content_2'>Complementary therapy</span></span>
				<%= image_tag("relaxation_small.jpg") %>
				<span class='link_text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</span>
			<% end %>
			<%= link_to(info_how_do_i_choose_a_blood_pressure_machine_path, :class => 'info_link') do %>
				<span id='link_title_3'><span id='link_title_content_3'>Medication</span></span>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>
