<div id='main'>
	<div id='strip1'>
		<div id='strip1_content'>
			<h1>Find out more about your blood pressure</h1>
			<p id='first'>FREE advice from UK GPs.</p>
			<p id='second'>Online. Anytime.</p>
			<div class='clear_float'></div>
		</div>
	</div>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<h2>What is blood pressure?</h2>
			<h3>Use HomeBloodPressure.co.uk to find out more about your blood pressure</h3>
			<p>By using this site you’ll be getting clear information about your blood pressure. You’ll get up to date personalised advice from UK GPs. You’ll be able to use this information whenever you want, without the hassle of having to get an appointment at your doctors.</p>
		</div>
		
		<div id='links'>
			<%= link_to(info_what_am_i_measuring_path, :class => 'info_link') do %>
				<span id='link_title_1'><span id='link_title_content_1'>What am I measuring?</span></span>
				<%= image_tag("woman_taking_bp_small.jpg") %>
				<span class='link_text'>Both numbers are important; they measure the pressure in your arteries at the highest and lowest points of your pulse. Find out more here...</span>
			<% end %>
			<%= link_to(info_what_do_the_numbers_mean_path, :class => 'info_link') do %>
				<span id='link_title_2'><span id='link_title_content_2'>What do the numbers mean?</span></span>
				<%= image_tag("number_23_small.jpg") %>
				<span class='link_text'>Your blood pressure is a measure of the pressure in your arteries. This gives you an idea of how hard your heart is having to work to pump blood around your body - find out more here…</span>
			<% end %>
			<%= link_to(info_what_is_the_normal_range_for_me_path, :class => 'info_link') do %>
				<span id='link_title_3'><span id='link_title_content_3'>What is the normal range?</span></span>
				<%= image_tag("tick_small.jpg") %>
				<span class='link_text'>The definition of normal blood pressure depends on whether you are on treatment or have any other medical conditions. Find out more here…</span>
			<% end %>
			
			<div class='clear_float'>
			</div>
		
		</div>
	
	</div>
</div>
