<div id='main'>
	
	<div id='strip1'>
		<% if !user_signed_in? %>
			<div id='strip1_content'>
				<h1>The best blood pressure treatment</h1>
				<p id='first'>FREE advice from UK GPs.</p>
				<p id='second'>Online. Anytime.</p>
				<div class='clear_float'></div>
			</div>
		<% end %>
	</div>
	
	<div id='strip5'>
		<div id='strip5_content'>
			<div id='nav_form'>
				
				<h2>Forgot your password?</h2>
				
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<table>
					<tr>
						<td><%= f.label :email %></td>
						<td><%= f.email_field :email, :autofocus => true %></td>
					</tr>
				</table>
		
				<% if resource.errors.any? %>
					<div id="error_explanation">
						<%= error_messages_for resource %>
					</div>
				<% end %>
			
				<div id='forgot_pwd_button'>
  					<%= f.submit "Send me reset password instructions", :class => 'button5' %>
  				</div>
  			
				<% end %>
			</div>
		</div>
	</div>
</div>




