<div id='main'>
	
	<div id='strip1'>
		<div id='strip1_content'>
			<% if !user_signed_in? %>
				<h2>The best blood pressure treatment</h2>
				<h3>FREE advice from UK GPs.</h3>
				<h4>Online. Anytime.</h4>
			<% end %>
		</div>
	</div>
	
	<div id='strip5'>
		<div id='strip5_content'>
			<div id='nav_form'>
				
				<h4>Forgot your password?</h4>
				
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<table>
					<tr>
						<td><%= f.label :email %></td>
						<td><%= f.email_field :email, :autofocus => true %></td>
					</tr>
				</table>
		
				<% if resource.errors.any? %>
					<div id="error_explanation">
						<%= error_messages_for resource %>
					</div>
				<% end %>
			
				<div id='forgot_pwd_button'>
  					<%= f.submit "Send me reset password instructions", :class => 'button5' %>
  				</div>
  			
				<% end %>
			</div>
		</div>
	</div>
</div>




