<% @current_bps.each do |current_bp| %>

<%= form_for(current_bp) do |f| %>
  <% if current_bp.errors.any? %>
    <div id="error_explanation">
      <%= error_messages_for "current_bp", "sysbp" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sysbp, 'Systolic value' %><br>
    <%= f.number_field :sysbp %>
  </div>
  <div class="field">
    <%= f.label :diabp, 'Diastolic value' %><br>
    <%= f.number_field :diabp %>
  </div>
  <div class="actions">
    <%= f.submit 'Update blood pressure' %>
  </div>
<% end %>

<% end %>