<%= form_for(@current_bp) do |f| %>
	<div id='input_bp_boxes'>
    	<%= f.text_field(:sysbp) %>
  		<div id='slash'>
  			/
  		</div>
	    <%= f.text_field(:diabp) %>
  		<div id='mmhg'>
  			mmHg
  		</div>
  	</div>
  	
  	<% if @current_bp.errors.any? %>
  		<div id='error_wrapper'>
			<%= error_messages_for "current_bp", "sysbp" %>
		</div>
  	<% end %>
  	
  	<div id="submit">
	   	<%= f.submit 'Next', :class => 'button6' %>
	</div>
<% end %>