<%= form_for @current_bp, :url => current_bp_path, :html => {:method => :patch} do |f| %>
  <% if @current_bp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_bp.errors.count, "error") %> prohibited this current_bp from being saved:</h2>

      <ul>
      <% @current_bp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sys2, 'Systolic value' %><br>
    <%= f.number_field :sys2 %>
  </div>
  <div class="field">
    <%= f.label :dia2, 'Diastolic value' %><br>
    <%= f.number_field :dia2 %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit blood pressure' %>
  </div>
<% end %>