<%= form_for(@current_bp) do |f| %>
	<%= f.hidden_field :datetime, {:value => @bp_entry_details[:datetime]} %>
	<%= f.hidden_field :reading_no, {:value => @bp_entry_details[:reading_no]} %>
	
	<table>
		<tr>
			<td><%= f.text_field(:sysbp) %></td>
			<td id='slash'>/</td>
			<td><%= f.text_field(:diabp) %><span id='mmhg'>mmHg</span></td>
			<td colspan='3' id='submit'>
				<button type='submit' class='button6' onClick="ga('send', 'event', 'Button', 'BP-entered');">
  				Get instant advice about
  				<br />
  				your blood pressure
  				</button>
			</td>
		</tr>
	</table>
	
	
	<% if @current_bp.errors.any? %>
  		<div id='error_explanation'>
			<%= error_messages_for "current_bp", "sysbp" %>
		</div>
  	<% end %>
	
<% end %>