<h2>Your average blood pressure from these two readings</h2>

<p>
  <strong>Systolic BP:</strong>
  <%= number_with_precision(@average_current_sysbp, :precision => 0) %>
</p>
<p>
  <strong>Diastolic BP:</strong>
  <%= number_with_precision(@average_current_diabp, :precision => 0) %>
</p>

<p>
	Made a mistake entering these blood pressure readings?<br />
	Go <%= link_to 'back', review_current_bps_path, method: :post %> and alter them.
</p>

<h2>Your average blood pressure from this set of readings</h2>

<p>
  <strong>Systolic BP:</strong>
  <%= number_with_precision(@average_set_sysbp, :precision => 0) %>
</p>
<p>
  <strong>Diastolic BP:</strong>
  <%= number_with_precision(@average_set_diabp, :precision => 0) %>
</p>

<%= link_to 'Reset', reset_current_bps_path %>

<div id='signup_msg'>
	<% if !user_signed_in? %>
		<p>Please <%= link_to 'sign-up', new_user_registration_path %> for our lovely service</p>
	<% end %>
</div>
