<div id='main'>
	<div id='landing_page_bp_treatment'>
		<div id='heart_bp_monitor_pic'>
			<%= image_tag("heart_bp_monitor_small.jpg", size: '150x120') %>
		</div>
		
		<div id='questions'>
			<h3>Are you worried about your blood pressure?</h3>
			<h4>Do you want to know the best way to treat it?</h4>
			<h5>Are you worried about side effects from blood pressure medication?</h5>
		</div>
		
		<div id='landing_page_content'>
		<div id='cta_bp_entry'>
			<div id='title'>
				Is my blood pressure too high?
			</div>
			<p>Enter some blood pressure readings and we'll answer that question right away!</p>
			<div id='input_bp'>
				<%= render 'form' %>
			</div>
			<%= link_to "How do I measure my blood pressure?", how_to_measure_bp_current_bps_path, :class => 'how_to_measure_bp' %>
		</div>
			
			<h2>If so, you've come to the right place...</h2>
			
			<p class='more_space'>To make things simple we’ve broken the advice down into three broad groups...</p>
			<p class='more_space'>First comes information about the lifestyle changes that you can make in order to lower your blood pressure and lead a healthier life. Second is information about complementary healthcare treatments that you may have considered using, such as supplements or acupuncture.</p>
			<p class='more_space'>And finally is information about the different medications that you might be prescribed by your doctor, or even better, that you may choose to have prescribed yourself, through our easy to use service.</p>
		
			<h3>Lifestyle</h3>
				<p>Are you one of the many people who’ve been told at some point that you need to change your lifestyle for the better? Have you found the advice confusing and contradictory?</p>
				<p>If so then let us take you through the various changes that you can make in your life to lower your blood pressure...</p>
				
			<h4>What can I do about my diet?</h4>
				<p>If you have high blood pressure, then there are two simple things that you can change that will help lower it. They are to lose some weight, and reduce the amount of salt in your diet.</p>
				<p>If you’re overweight, losing even a bit of weight can help your blood pressure. There’s lots of exciting research going on at the moment to find the best way for you to do this.</p>
				<%= image_tag("woman_apple_small.jpg", :class => "picture_left") %>
				<p>However the current most successful advice remains to eat a high fibre and low fat diet. You should also try to reduce the size of your portions. Cutting down on red meat and eating more green leafy vegetables will also help with your health.</p>
				<p>The second is to control the amount of salt that you get in your diet. You may find this difficult, especially if you don’t get the chance to cook from scratch. This is because processed foods tend to have a lot of hidden salt in them. So do foods such as cereals, cheese and bread. Reducing the amount of salt in your diet can help to reduce your blood pressure.</p>
				<p>Unfortunately it is unlikely that salt substitutes are effective in controlling blood pressure.</p>
			
			<h4>What about the things that I drink?</h4>
				<p>The best thing that you can do to help with your blood pressure is to cut down the amount of alcohol that you drink. This can also help you to lose weight which will also help with your blood pressure.</p>
				<p>Another drink that can affect your blood pressure is coffee. However as long as you drink it in moderation it is unlikely to be harmful. “In moderation” means less than 5 cups a day.</p>
				
			<h4>What exercise do I need to do?</h4>
				<%= image_tag("man_running_small.jpg", :class => "picture_right") %>
				<p>In the past you may have found the advice about exercise very confusing. This is because we actually know very little about the effects of exercise on your blood pressure. There is not much good evidence that exercise helps your blood pressure.</p>
				<p>This ignores all the other benefits of exercise on your physical and mental health.  Exercise helps with your coordination and strength. It can also be sociable and fun if you choose the right activity.</p>
				<p>The current best advice about exercise and blood pressure is that if you exercise for 50 to 60 minutes,  3 or 4 times a week, it probably helps to lower your blood pressure.</p>
				
			<h4>Would relaxation therapy or meditation help me?</h4>
				<p>You may like to try relaxation therapy or meditation to lower your blood pressure. Many people find these beneficial. They are not routinely available on the NHS so you will have to find a private supplier. You will find them on our links page.</p>
				
			<h4>What about smoking?</h4>
				<p>You may be amazed to find that there is no direct link between smoking and high blood pressure. However smoking does make you more at risk of heart attacks and strokes.</p>
				<p>The single best thing that you can do to make you live longer is to stop smoking. You will find links to helpful sites on our links page.</p>
				
			<h3>Complementary Medicine</h3>
				<p>You may wish to try supplements to control your blood pressure. Unfortunately calcium and magnesium supplements have not been shown to have a clinically significant effect on your blood pressure. And contrary to popular belief, potassium supplements have no effect on your blood pressure at all.</p>
			
			<h4>Acupuncture</h4>
				<p>Although you may wish to try acupuncture to see if it helps with your blood pressure, at the moment we do not know whether it is helpful.</p>
				
			<h3>Which medication should I take?</h3>
				<p>You may find all the different medications and tablet names to treat high blood pressure confusing. You are not alone, in fact many doctors find it confusing as well.</p>
				<%= image_tag("tablets_small.jpg", size: "240x160", :class => "picture_right") %>
				<p>One of the problems is that the same medication can have many different names depending on which brand it is that you use. Different brands of the same medication can be different shapes, and even different colours.</p>
				<p>In many cases, the medication will have more than one name on it. Usually the brand name is in big writing, and the name of the active ingredient (also known as the generic name) is in much smaller writing.</p>
				<p>To give you an example that you’ve likely come across before, “Nurofen” is a brand of ibuprofen. This is a common pain-killer that is sold over the counter in the UK. “Nurofen” is the brand name of the drug. “Ibuprofen” is the generic name of the drug. When doctors prescribe, they can choose whether to prescribe using a brand name, or to prescribe using the generic name.</p>
				
			<h4>Should I take branded or generic medication?</h4>
				<p>In the UK you will find doctors often write NHS prescriptions using generic names. This is because the generic tablets tend to be cheaper than the branded versions. This is just the same as own-brand supermarket goods being cheaper than the well known brand names. When you purchase a prescription from us, you will be able to choose whether you want a prescription for a branded medication or a generic one, although you will end up paying more for the brand names, just as you would do in the supermarket.</p>
				<p>You may find that one brand of medication works better  than another, even though you’ve been told that they have the same generic ingredient. This is because of the placebo effect.</p>
			
			<h4>Why do I need more than one medication?</h4>
				<p>If you do need medication, then you will probably end up using more than one drug in combination. Most people need to do this because drugs for high blood pressure often have a 'synergistic' effect when used in combination. Synergy is when the good effects of two or more drugs used at the same time is greater than the effects of those drugs when they are used individually.</p>
				<p>Because of this you will hear drugs referred to as first line and second line choices. These first and second line choices vary according to your age. They also vary according to your ethnicity. This is because some studies have shown that some medications do not work as well in people with an African or Caribbean background.</p>
			
			<h4>Combination tablets</h4>
				<p>You may have been prescribed combination tablets in the past. These are tablets that contain more than one active ingredient. You can tell if you’re taking a combination tablet as their name starts with Co-. The advantage of a combination tablet is that it means that you have to take less tablets each day. The disadvantage is that they are often much more expensive than taking each medication separately.</p>
				
			<h4>What medications are available to lower my blood pressure?</h4>
				<p>Drugs are put in groups according to the way that they work on your body. Usually, you shouldn’t take more than one drug from each group. To simplify things for you, we have listed all the common drugs below, ordered into their groups, with both their generic names and their brand names shown.</p>
			
			<h5>Group: Calcium channel blockers</h5>
				<table>
					<tr>
						<th>Generic name</th>
						<th>Brand names</th>
					</tr>
					<tr>
						<td>Amlodipine</td>
						<td>Istin</td>
					</tr>
					<tr>
						<td>Diltiazem</td>
						<td>Adizem-SR, Adizem-XL, Angitil SR, Angitil XL, Calcicard CR, Dilcardia SR, Dilzem SR, Dilzem XL, Slozem, Tildiem LA, Tildiem Retard, Viazem XL, Zemtard</td>
					</tr>
				</table>
		</div>
	</div>
</div>
