<div id='main'>
	<h1>Is my blood pressure too high?</h1>
	
	<div id='right_side_boxes_container'>
	<% if !@average_sysbp.nil? %>
		<div id='average_bp'>
			<%= render :partial => 'average_bp', :locals => {:avsys => @average_sysbp, :avdia => @average_diabp, :bppos => @bp_position} %>
		</div>
		<div id='reading_counter'>
			<%= render :partial => 'reading_counter' %>
		</div>	
	<% end %>
	</div>
	
	<p>Welcome back <%= current_user.email %></p>
	
	<p>It's time to take some more readings to find out if your blood pressure really is too high. Taking a set of readings over several days will give you an accurate measure of your blood pressure. From an accurate measure you'll get reliable advice. That way you will know whether your blood pressure really is too high.</p>
	
	<% if @old_time_text == "" %>
		<%= link_to 'Next', new_current_bps_path %>
	<% else %>
		<p>Do you have a pair of blood pressure readings from <%= @old_time_text %> that you haven't entered into your account yet?</p>
		<%= link_to 'No', is_bp_set_completable_path %>
		<%= form_tag(controller: "current_bps", action: "old_bp_new") %>
		<%= hidden_field_tag(:old_bp_date, @old_bp_date) %>
		<%= hidden_field_tag(:old_bp_ampm, @old_bp_ampm) %>
		<%= submit_tag("Yes") %>
	<% end %>

</div>


