<h1>Listing average blood pressures</h1>

<%= link_to 'New', new_admin_average_bp_path %>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Date</th>
      <th>Am or pm</th>
      <th>Systolic BP</th>
      <th>Diastolic BP</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @average_bps.each do |average_bp| %>
      <tr>
      	<td><%= average_bp.user_id %></td>
        <td><%= average_bp.date %></td>
        <td><%= average_bp.ampm %></td>
        <td><%= average_bp.sysbp %></td>
        <td><%= average_bp.diabp %></td>
        <td><%= link_to 'Edit', edit_admin_average_bp_path(average_bp) %></td>
        <td><%= link_to 'Destroy', admin_average_bp_path(average_bp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
