<div id='main'>
	
	<%= render 'info/measuring_bp_title' %>
	
	<% if !user_signed_in? %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/promo' %>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>Measuring blood pressure</h2>
			</div>
		</div>
		
		<div id='links'>
			<%= link_to(info_path('how-do-i-measure-my-blood-pressure'), :class => 'info_link1') do %>
				<%= image_tag("woman_taking_bp_small.jpg") %>
				<span class='link_title'>How do I measure my blood pressure?</span>
				<span class='link_text'>One of the best ways is to use a home blood pressure machine… <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('when-should-i-measure-my-blood-pressure'), :class => 'info_link2') do %>
				<%= image_tag("diary_small.jpg") %>
				<span class='link_title'>When should I measure my blood pressure?</span>
				<span class='link_text'>You should measure your blood pressure each morning and evening… <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('how-do-i-choose-a-blood-pressure-machine'), :class => 'info_link1') do %>
				<%= image_tag("blood_pressure_machine_small.jpg") %>
				<span class='link_title'>How do I choose a blood pressure machine?</span>
				<span class='link_text'>You don’t need to spend much money to get a blood pressure machine… <span class='more'>find out more.</span></span>
			<% end %>

		</div>
	
	</div>
</div>
