<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<% if @batch_average_bp_count == 0 %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>Medication</h2>
			<p>There are many different medications to treat high blood pressure. The right one for you will depend on a number of factors. This is where we can help. By using HomeBloodPressure.co.uk you will get advice about the best medication options for you, based on your medical details.</p>
			</div>	
		</div>
		
		<div id='links'>
			<%= link_to(info_path('what-are-the-best-medication-options-for-me'), :class => 'info_link1') do %>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_title'>What are the best medication options for me?</span>
				<span class='link_text'>You can choose from several different types of medication... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('how-can-i-reduce-the-risk-of-side-effects'), :class => 'info_link2') do %>
				<%= image_tag("risk_v_reward_small.jpg") %>
				<span class='link_title'>How can I reduce the risk of side effects?</span>
				<span class='link_text'>Using this website can reduce the risk of side effects... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('why-do-i-need-to-take-more-than-one-medication'), :class => 'info_link1') do %>
				<%= image_tag("multiple_pills_small_2.jpg") %>
				<span class='link_title'>Why do I need to take more than one medication?</span>
				<span class='link_text'>Medications often work together to provide extra benefit... <span class='more'>find out more.</span></span>
			<% end %>
		
		</div>
	
	</div>
</div>
