<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<% if @batch_average_bp_count == 0 %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>Treating blood pressure</h2>
			</div>
			
			<div id='text'>
			<h3>Why is medication often recommended?</h3>
			<p>Although it is very important that you try to lead as healthy a lifestyle as possible, in many cases you need to do more than that. The earlier and more effectively you treat your blood pressure, the more good it does you. This means in the majority of cases where you have high blood pressure, you are best off to start taking medication sooner rather than later.</p>
			</div>
		</div>
		
		<div id='links'>
			<%= link_to(info_path('lifestyle-options'), :class => 'info_link1') do %>
				<%= image_tag("woman_apple_small_3.jpg") %>
				<span class='link_title'>Lifestyle options</span>
				<span class='link_text'>You can improve your blood pressure by making some small lifestyle changes... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('complementary-therapy'), :class => 'info_link2') do %>
				<%= image_tag("acupuncture_small.jpg") %>
				<span class='link_title'>Complementary therapy</span>
				<span class='link_text'>Some people try supplements or acupuncture to help their blood pressure... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('medication'), :class => 'info_link1') do %>
				<%= image_tag("tablets_small.jpg") %>
				<span class='link_title'>Medication</span>
				<span class='link_text'>You can choose from lots of different medications to help with your blood pressure... <span class='more'>find out more.</span></span>
			<% end %>

		</div>
	
	</div>
</div>
