<div id='main'>
	<%= render 'info/treating_bp_title' %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
			<h2>What are the best medication options for me?</h2>
			<p>In the same way that there is no magic ‘normal’ blood pressure range for everyone, it probably won’t surprise you to learn that there isn’t a magic medication that is also the best for everyone. If you suffer from other medical conditions you will find that some medications are more or less effective. Doctors have also found that your age and your ethnic background influence how effective some medications are.</p>
			<p>By using HomeBloodPressure.co.uk you will get advice about the best medication options for you based on your own medical details.</p>
			
			<h3>What medications are available?</h3>
			<p>There are a huge number of different medications available to treat high blood pressure. They are split into groups based on how they work inside your body. The most common groups are listed below.</p>
			</div>
		</div>
		
		<div id='links'>
			<%= link_to(info_path('calcium-channel-blockers'), :class => 'info_link_slim') do %>
				<span class='link_title'>Calcium channel blockers</span>
				<span class='link_text'>These are often a first choice treatment for treating high blood pressure... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('ace-inhibitors'), :class => 'info_link_slim') do %>
				<span class='link_title'>ACE inhibitors</span>
				<span class='link_text'>These are also sometimes a first choice treatment... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('a2rbs'), :class => 'info_link_slim') do %>
				<span class='link_title'>A2RBs</span>
				<span class='link_text'>These are mostly used if people get side effects from using an ACE inhibitor... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('diuretics'), :class => 'info_link_slim') do %>
				<span class='link_title'>Diuretics</span>
				<span class='link_text'>These tend to be used as an additional treatment with other blood pressure medication... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('beta-blockers'), :class => 'info_link_slim') do %>
				<span class='link_title'>Beta blockers</span>
				<span class='link_text'>These are mostly used as an addition to other medications if your blood pressure isn’t already well controlled... <span class='more'>find out more.</span></span>
			<% end %>
		
		</div>
	
	</div>
</div>
