<div id='main'>
	
	<%= render 'info/what_is_bp_title' %>
	
	<% if @batch_average_bp_count == 0 %>
	<div id='strip2'>
		<div id='strip2_content'>
			<%= render 'info/is_my_bp_too_high' %>
		</div>
	</div>
	<% end %>
	
	<div id='strip3'>
		<div id='strip3_content'>
			<div id='welcome'>
				<h2>What is blood pressure?</h2>
			</div>
		</div>
		
		<div id='links'>
			<%= link_to(info_path('what-am-i-measuring'), :class => 'info_link1') do %>
				<%= image_tag("woman_taking_bp_small.jpg") %>
				<span class='link_title'>What am I measuring?</span>
				<span class='link_text'>The two numbers measure the pressure in your arteries at the highest and lowest points of your pulse... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('what-do-the-numbers-mean'), :class => 'info_link2') do %>
				<%= image_tag("number_23_small.jpg") %>
				<span class='link_title'>What do the numbers mean?</span>
				<span class='link_text'>They give you an idea of how hard your heart is having to work to pump blood around your body... <span class='more'>find out more.</span></span>
			<% end %>
			<%= link_to(info_path('what-is-the-normal-range-for-me'), :class => 'info_link1') do %>
				<%= image_tag("tick_small.jpg") %>
				<span class='link_title'>What is the normal range?</span>
				<span class='link_text'>This depends on whether you are on treatment or have any other medical conditions... <span class='more'>find out more.</span></span>
			<% end %>

		</div>
	
	</div>
</div>
