<!DOCTYPE html>
<html>
<head>
  <title>HomeBloodPressure.co.uk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

	<div id='header'>
	<div id='header_content'>
		
		<div id='topbannertitle'>
			<%= link_to("HomeBloodPressure.co.uk", root_path) %>
		</div>
	
	<div id='topmenu'>
		<div class='topmenucontent'>
			<%= link_to 'Admin menu', admin_root_path %>
		</div>
	</div>
	
	<div class='clear_float'>
	</div>
	
	</div>
	</div>	
	
	<div id='back'>
		<%= link_to_function "Back", "history.back()" %>
	</div>
	
	<div id='content'>
		<% if flash[:notice] %>
			<div id="notice"><%= notice %></div>
		<% end %>
		
		<div id='main'>
		<div id='strip1'>
			<div id='strip1_content'>
			</div>
		</div>
		
		<div id='strip3'>
			<div id='strip3_content'>
				<%= yield %>
			</div>
		</div>
		</div>
		
	</div>

</div>

</body>
</html>
