<!DOCTYPE html>
<html>
<head>
  <title>HomeBloodPressure.co.uk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <script>
	autolayout();
  </script>
	<div id='header'>
		<%= image_tag "topbanner.jpg" %>
		<div id='topbannertitle'>
			<%= link_to("HomeBloodPressure.co.uk", blood_pressure_treatment_path) %>
		</div>
	</div>
	
	<div id='topmenu'>
		<div class='topmenucontent'>
			<%= link_to 'Admin menu', admin_root_path %>
		</div>
		<!--
		<div class='topmenucontent'>
			<a href=''>My account details</a>
		</div>
		<div class='topmenucontent'>
			<a href=''>My medical details</a>
		</div>
		<div class='topmenucontent'>
			<%= link_to 'My blood pressure readings', router_current_bps_path %>
		</div>
		<div class='topmenucontent'>
			<a href=''>My blood test results</a>
		</div>
		<div class='topmenucontent'>
			<a href=''>General advice</a>
		</div>
		-->
	</div>
	
	<div id='back'>
		<%= link_to_function "Back", "history.back()" %>
	</div>
	
	<div id='content'>
		<% if flash[:notice] %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<%= yield %>
	</div>

</div>

</body>
</html>
