<!DOCTYPE html>
<html>
<head>
  <title>HomeBloodPressure.co.uk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <script>
	autolayout();
  </script>
	<div id='header'>
		<%= image_tag "topbanner.jpg" %>
		<div id='topbannertitle'>
			HomeBloodPressure.co.uk
		</div>
		<div id='user_nav'>
			<% if user_signed_in? %>
				<div id='sign_out'>
					<%= link_to(destroy_user_session_path, :class => 'button1', :method => :delete) do %>
						<%= image_tag("padlock.gif", size: '9x12') %>
						Sign out
						<br />
						<%= truncate(current_user.email, :length => 12) %>
					<% end %>
				</div>
			<% else %>
				<div id='sign_in'>
    				<%= link_to(image_tag("padlock.gif", size: '9x12') + " Sign in", new_user_session_path, :class => 'button1') %>
    			</div>
    			<div id='sign_up'>
    				<%= link_to("Sign up", new_user_registration_path, :class => 'button1 button2') %>
    			</div>
  			<% end %>
  		</div>
	</div>
	
	<div id='topmenu'>
		<!--
		<div class='topmenucontent'>
			<%= link_to 'Home', static_pages_home_path %>
		</div>
		<div class='topmenucontent'>
			<a href=''>My account details</a>
		</div>
		<div class='topmenucontent'>
			<a href=''>My medical details</a>
		</div>
		<div class='topmenucontent'>
			<%= link_to 'My blood pressure readings', router_current_bps_path %>
		</div>
		<div class='topmenucontent'>
			<a href=''>My blood test results</a>
		</div>
		<div class='topmenucontent'>
			<a href=''>General advice</a>
		</div>
		-->
	</div>
	
	<div id='back'>
		<%= link_to_function "Back", "history.back()" %>
	</div>
	
	<div id='content'>
		<% if flash[:notice] %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<%= yield %>
	</div>
	
	<div id='bottombar'>
		<%= link_to 'About us', static_pages_about_path %>
		<%= link_to 'Contact us', new_message_path %>
		<%= link_to 'Terms & Conditions', static_pages_tac_path %>
		<span>&#169; 2013</span>
	</div>

</div>

</body>
</html>
