<!DOCTYPE html>
<html>
<head>
  <title>Blood pressure treatment HomeBloodPressure.co.uk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Is your blood pressure too high? Blood pressure treatment at home. No more time waiting at the doctor's." />
  
  <!-- Google Analytics code -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45096969-1', 'homebloodpressure.co.uk');
  ga('send', 'pageview');

  </script>
  
</head>
<body>

<div id="container">
	
	<div id='header'>
	<div id='header_content'>

		<div id='topbannertitle'>
			<%= link_to("HomeBloodPressure.co.uk", root_path) %>
		</div>
		<div id='user_nav'>
			<% if user_signed_in? %>
				<div id='sign_out'>
					<%= link_to(destroy_user_session_path, :class => 'button1', :method => :delete) do %>
						<%= image_tag("padlock.gif", size: '9x12') %>
						Sign out
						<br />
						<%= truncate(current_user.email, :length => 12) %>
					<% end %>
				</div>
			<% else %>
				<div id='sign_in'>
    				<%= link_to(image_tag("padlock.gif", size: '9x12', :class => 'borderless_img') + " Sign in", new_user_session_path, :class => 'button1') %>
    			</div>
    			<div id='sign_up'>
    				<%= link_to("Sign up", new_user_registration_path, :class => 'button1 button2') %>
    			</div>
  			<% end %>
  		</div>
  		
  		<div id='topmenu'>
			<% if user_signed_in? %>
			<div class='topmenucontent'>
				<%= link_to 'Account home', root_path(@bp_entry_details) %>
			</div>
			<div class='topmenucontent'>
				<%= link_to 'Advice', info_home_page_path %>
			</div>
			<% else %>
			<div class='topmenucontent'>
				<%= link_to 'Home', info_home_page_path %>
			</div>
			<div class='topmenucontent'>
				<%= link_to 'Features', root_path %>
			</div>
			<div class='topmenucontent'>
				<%= link_to 'Contact', new_message_path %>
			</div>
			<% end %>
			
			<!--
			<div class='topmenucontent'>
				<a href=''>My medical details</a>
			</div>
			<div class='topmenucontent'>
				<a href=''>My blood pressure readings</a>
			</div>
			<div class='topmenucontent'>
				<a href=''>My blood test results</a>
			</div>
			<div class='topmenucontent'>
				<a href=''>General advice</a>
			</div>
			-->
		</div>
		
		<div class='clear_float'>
		</div>

	</div>
	</div>
	
	<!--
	<% if user_signed_in? %>
		<div id='breadcrumb'>
			<%= breadcrumb %>
		</div>
	<% end %>
	
	
	<div id='back'>
		<%= link_to_function "Back", "history.back()" %>
	</div>
	-->
	
	<div id='content'>
		<% if flash[:notice] %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<%= yield %>
	</div>	

	<div id='bottombar'>
		<%= link_to 'About us', static_pages_about_path %>
		<%= link_to 'Contact us', new_message_path %>
		<%= link_to 'Terms & Conditions', static_pages_tac_path %>
		<span>&#169; 2013</span>
	</div>

</div>

</body>
</html>
