<%= form_for(@current_bp, :url => admin_current_bp_path(@current_bp)) do |f| %>
	<div>
    	<%= f.text_field(:sysbp) %>
  			/
	    <%= f.text_field(:diabp) %>
  			mmHg
  	</div>
  	
  	<% if @current_bp.errors.any? %>
  		<div id='error_wrapper'>
			<%= error_messages_for "current_bp", "sysbp" %>
		</div>
  	<% end %>
  	
  	<div id="submit">
	   	<%= f.submit 'Update' %>
	</div>
	
<% end %>